.block-services {
    margin-top: 80px;
    margin-bottom: 80px;
}

.block-services-title {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
    color: #00559D;

}

.block-services-list {
    display: flex;
    margin: 50px -10px 0;
}

.block-service {
    box-sizing: border-box;
    width: 25%;
    padding: 0 10px;
}

.block-service-image {

}

.block-service-title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #2C3036;
}

.block-service-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 21px;
    color: #2C3036;
}

.block-service-link {
    margin-top: 20px;
}