.block-why-we {

}

.block-why-we-title {
    font-weight: 900;
    font-size: 72px;
    line-height: 100%;
    color: #005DAB;
}

.block-why-we-description {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.block-why-we-link {

}

.block-why-we-image {

}